*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col_margin{
    margin: 20px 0px;
}
.margin_bottom{
    margin-bottom: 40px;
}
header, h1{
    color: white;
    font-weight: 800;
}

   
/*///////////////////////////////////////////////////
                     HEADER
 ///////////////////////////////////////////////////*/



header{
    background-color: #2C3E50;
    
}
.col_pink{
    background-color: pink;
    height: 50px;

    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

li{
    list-style: none;
}
.hamburger{
    border: 2px solid rgb(166, 163, 163);
    border-radius: 2px;
    padding: 5px 10px;
    display: none;
}
.font_size{
    font-size: 12px;
}

.visible{
    display: block;
}

@media screen and (max-width: 768px) {
    .visible{
        display: none;
    }
    .hamburger{
        display: block;
    }
}
/*///////////////////////////////////////////////////
                     MAIN
 ///////////////////////////////////////////////////*/




.background_green{
    background-color: #1ABC9C;

}

#img_avatar{
    width: 30%
}
.star{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.riga_bianca{
    width: 100px;
    color: white;
    border-top: 5px solid white;
    opacity: 1;
    
}

h2{
    font-size: 14px;
    color: white;
    
}












/* PORTFOLIO */

.background_white{
    background-color: white;

}
.h1_black{
    color: black;
    font-weight: 800;
}

.riga_nera{
    width: 100px;
    color: rgb(0, 0, 0);
    border-top: 5px solid rgb(0, 0, 0);
    opacity: 1;
}

.img_portfolio{
    width: 100%;
    border-radius: 10px;
}


.content_white{
    color: white;
    font-size: 18px;
    margin: 0 auto;
}

button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    font-size: 18px;
    padding: 5px 10px;
}
.download{
    margin-right: 5px;
}
.background_grey{
    background-color: #3A546D;
}


.white{
    color: white;
}

.green{
    color: #1ABC9C;
    text-decoration: none;
}

.circle, .circle2{
    border-radius: 100%;
    border: 1px solid white;
    margin-left: 10px;
}
.circle{
    padding: 14px 16px;
}

.circle2{
    padding: 14px 15px;
}
.text_no{
    text-decoration: none;
}
/*///////////////////////////////////////////////////
                     FOOTER
 ///////////////////////////////////////////////////*/



footer{
    background-color: #2C3E50;
    
}